.d-flex img {
    border-radius: 50%;
    object-fit: cover;
  }
  body {
    background-color: rgb(216, 229, 233);
  }
  .span {
    margin-top: 25px;
    background-color: white;
    height: 15px;
    width: 10px;
    border-radius: 50%;
  }
  span {
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: rgb(24, 236, 24);
  }
  .btns {
    background-color: rgb(241, 236, 236);
    border-color: rgb(241, 236, 236);
    border-radius: 50%;
  }
  .bin {
    color: gray;}

    .button {
        border: none;
    }
    .form-control {
        width: 300px;
      }
      ul {
        display: flex;
        flex-direction: row;
      }
li {
 list-style: none;
 margin-right: 20px;
 color: white;
}
.section {
  background-color: #754df8;
  width: 100%;
  height: 452px;
}
.text {
  width: 600px;
  margin-left: 110px;
}
.bi {
  color: orange;
}

.ul {
  width: 550px;
  display: flex;
  flex-direction: row;
 justify-content: start;
 margin-top: 15px;
}
aside {
  width: 650px;
  height: 820px;
  border: 1px solid black;
  border-radius: 15px;
  border-color: white;
  background-color: white;
  margin-left: 150px;
  position: absolute;
  top: 414px;
  
}
.li {
  color: black;
  /* margin-left: 10px; */
}
.right {
  width: 360px;
  height: 360px;
  background-color: white;
  border-color: white;
  border-radius: 20px;
  position: absolute;
  top: 250px;
  left: 900px;
}
.r-below {
  width: 360px;
  height: 300px;
  background-color: white;
  border-color: white;
  border-radius: 20px;
  position: absolute;
  top: 650px;
  left: 900px;
}
.items {
  margin-left: 15px;
}
.basic1 {
  margin:20px 0px 0px 0px;
  display: flex;
  flex-direction: row;
}
.below2 {
  width: 360px;
  height: 450px;
  background-color: white;
  border-color: white;
  border-radius: 20px;
  position: absolute;
  top: 986px;
  left: 900px;
}
.basic2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pp {
  color: rgba(0, 0, 0, 0.384);
  text-align: center;

}
.btn {
  margin-left: 25px;
}
